@import '../variables.css';

:root {
  --height: 55px;
}

.root {
  position: absolute;
  right: 0;
  left: 0;
  z-index: var(--nav-z-index);
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  transition: all ease 300ms;

  a {
    color: #000;
  }

  &.sticky {
    position: fixed;
    height: 52px;
    background-color: var(--brand-color);
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    a {
      color: #fff;
    }
  }

  &.home {
    .logo {
      display: none;
    }
    a {
      color: #fff;
    }
  }

  > * {
    height: var(--height);
    transition: all ease 300ms;
  }

  ul {
    display: inline-block;
    margin: 0;
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0;

    &.left {
      float: left
    }

    &.right {
      float: right;
    }

    > li {
      position: relative;
      display: flex;
      align-content: center;
      margin: 0px 5px;
      padding: 0;

      > a {
        display: flex;
        align-items: center;
        height: 100%;
        margin-bottom: -4px;
        padding: 0px 10px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        transition: color 0.3s;

        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}