.selected {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: bold;
}

.link {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
  color: #fff;
  opacity: .50;

  &:hover {
    opacity: .80;
  }

  &:not(:first-child) {
    ::before {
      content: '\00B7';
      margin: 0 .125rem;
      opacity: .25 !important;
    }
  }
}