@import '../variables.css';

:root {
  --brand-color: #366977;
  --background-image: linear-gradient(45deg, rgba(95, 212, 224, 0.5), rgba(35, 0, 173, 0.5));
}

.root {
  background: var(--brand-color);
  background-image: var(--background-image);
  color: #fff;
  padding: 1em 0 2em;

  > .topnav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
  }

  > .navigation {
    margin-top: 1.5em;
  }

  > .title {
    text-align: center;
    > .logo {
      width: 10rem;
      height: 10rem;
      margin: 0 auto;
    }
    > .brandTxt {
      margin: 0;
      font-size: 2.25rem;
      font-weight: bold;
      color: #fff;
    }
  }
}
