.root {
  display: flex;
  padding: 1em;
  color: #222;
  border-bottom: 1px solid #ededed;

  > .toggle {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #cee;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 19px;
      left: 6px;
      display: block;
      width: 6px;
      height: 18px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
    }
    &.done {
      background-color: #cee;
    }
  }

  > .text {
    padding-left: 1em;
    line-height: 2em;

    &.done {
      text-decoration: line-through;
    }
  }
}
