@import '../variables.css';


:global(.ui.button) {
  font-size: 0.75rem;
}

.wrap {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  padding: 1rem 0.5rem 0;
  font-size: 0.75rem;
}
.logo-wrapper > .logo {
  width: 140px;
}

.menu {
  flex: 8;
  overflow-y: auto;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex: 1;
  justify-content: space-around;
  margin: 0rem 2rem;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(99,114,130,0.15);
}
.profile {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}
.profile > .avatar {
  margin-bottom: 1rem;
}
.profile > .name-wrapper {
  margin-left: 0.6rem;
}
.profile > .name-wrapper > .first-line {
  font-size: 1.2rem;
  font-weight: 600;
}
.profile > .name-wrapper > .second-line {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  font-size: 0.8rem;
  color: var(--grey);
}
.action-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -2rem;
}
.profile-wrapper > .action-holder > * {
  justify-content: space-between;
}

.nav a {
  display: block;
  text-decoration: none;
  padding: .5rem 2rem;
}

a.active {
  color: var(--secondary-color);
}